<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../public/img/book.ico">

    <title>Bookstore</title>

    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/album.css">
</head>

<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Chapter One</h1>
            <p class="lead text-muted">All Stories Begin with Chapter One</p>
        </div>
    </section>

    <div class="album text-muted">
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <script src="../../public/js/vendor/holder.min.js"></script>
    <script>
        $(function () {
            Holder.addTheme("thumb", {
                background: "#55595c",
                foreground: "#eceeef",
                text: "Thumbnail"
            });
        });
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>